{
    "mongodbConfig": {
        "databaseUrl": "",
        "options": {
            "useNewUrlParser": true,
            "useUnifiedTopology": true
        }
    },
    "jwtConfig": {
        "secret_token": ""
    },
    "swaggerConfig": {
        "swaggerDefinition": {
            "info": {
                "description": "This is a sample server",
                "title": "Swagger",
                "version": "1.0.0"
            },
            "host": "localhost:3000",
            "basePath": "/api",
            "produces": [
                "application/json",
                "application/xml"
            ],
            "schemes": [
                "http",
                "https"
            ],
            "securityDefinitions": {
                "JWT": {
                    "type": "apiKey",
                    "in": "header",
                    "name": "Authorization",
                    "description": ""
                }
            }
        }
    }
}